body {
    background: linear-gradient(to right, #141414, #363535);
    color: white;
}

header {
    padding: 20px 0;
}

.navbar {
    background: rgba(255, 255, 255, 0.1);
}

.nav-link {
    color: white !important;
}

.btn-custom {
    background-color: #f39c12;
    color: white;
}

.btn-custom:hover {
    background-color: #e67e22;
    color: white;
}

.announcement-item {
    background-color: rgba(255, 255, 255, 0.2); /* Light background for visibility */
    color: white; /* White text color */
}

footer {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
